@model System.Web.Mvc.HandleErrorInfo

@{
   ViewBag.Title = "User Disabled";
}

<hgroup>
    <h1 class="text-danger">User Disabled.</h1>
    <h2 class="text-danger">This account has been disabled. Please contact an administrator for support.</h2>
</hgroup>
